/* --- CONTENEDORES PRINCIPALES DE LAYOUT --- */
.main-content-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    width: 100%;
    height: 100%;
    
    @media (max-width: 600px) {
        justify-content: flex-start;
        padding-top: env(safe-area-inset-top, 10px);
        height: 100dvh; // CAMBIADO: a dvh
    }
}

#contenedor {
    padding-left: 1em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    @media (max-width: 600px) {
        padding-left: 0 !important;
        height: 100dvh; // CAMBIADO: a dvh
        padding: 0 env(safe-area-inset-right, 10px) 0 env(safe-area-inset-left, 10px);
    }
}